/* Theme Styles 
 *
 * Styles for setting a custom theme for your site
 ===================================================*/ 
.logo { padding: 2em; }
p { font-size: 1.1em }
.home-head {
	background: url('https://cdn.glitch.com/0e1fbada-b492-49fb-8d2a-0958a9f4e667%2F222281743_df88fd9565_o.jpg?1543580404123');
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	min-height: 60vh;
}
.about-section { background: url('../assets/images/county-bldg-brutalist.jpg');
	background-repeat: no-repeat; background-size: cover; background-position: center center; 
	padding-top: 1.8em; padding-bottom: 1.8em;
}
.demo-cover-1 { background-image: url('../assets/images/apocalypse-architecture.jpg'); }
.clip-bg-demo1 {
    background-image: url('../assets/images/vacation.jpg');
}

.about-section .tabs input[type="radio"]:checked + label { background: #fff !important; } /* Force white background on active tabs on home page */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}
.container2 {
    display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 20px;
   justify-items: center;
        

}
.item1 {
  grid-column: 1; 
  grid-row: 1;
  
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}
.item2 {
  grid-column: 2;
  grid-row: 1;
 
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}
.item3 {
  grid-column: 3;
  grid-row: 1;

  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}
.item4 {
  grid-column: 4;
  grid-row: 1;

  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}

h1 {
  font-style: italic;
  color: #373fff;
}


.user-profile {
  grid-template-areas:
    'avatar'
    'name'
    'bio'
  'deets deets';
   border-style: dotted;
  justify-items: center;
  align-items: center;
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  
 
   
}
.user-profile__username {
  grid-area: name;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
text-align: center;
  grid-gap: 10px;
  max-width:60%;
  margin-top:10%;
  
  
  
}

.user-profile__avatar {
  grid-area: avatar;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
border-radius: 50%;
width: 50%;
  display: block;
  grid-gap: 10px;
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
  grid-gap:20px;
  border-style: dashed;
  
}

.user-profile__bio {
  grid-area: bio;
 
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  max-width: 85%;
  border-style:double;
  border-style: dotted;  
  
  
}
.user-profile__contact {
  grid-area: deets;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  max-width: 85%;
  border-style:double;
  text-align: center;
 
}
ul.social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}
ul.social-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* Font Awesome icons */
a.sociali {
  line-height: 1.2em;
  padding: 10px;
 
  color: blue;
  margin-right: 10px;
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
}
a.sociali:hover, a.sociali:focus {
  background: #6d8785;
}
@media (max-width: 700px) {
  .user-profile {
    grid-template-areas:
      'avatar'
      'name'
      'bio'
      'bio'
      'deets'
      'deets';
    
  }
  .container {
    display: grid;
  grid-template-columns: 250px;
  grid-gap: 20px;
  }     

.item1 {

  grid-row: 1;
  grid-column: 1;
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}
.item2 {
 
  grid-row: 2;
   grid-column: 1;
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}
.item3 {

  grid-row: 3;
   grid-column: 1;
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}
.item4 {
  
  grid-row: 4;
   grid-column: 1;
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}
 
}